.container {
  width: 100%;
  height: 60vh;
}

.profileContent {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 1rem;
}

.title {
  font-size: 3rem;
}

.subtitle {
  font-size: 2rem;
  width: 37.5rem;
}
.myPicture {
  width: 15rem;
  height: 15rem;
  object-fit: cover;
  border-radius: 50%;
}
