.container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.subContainer {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: radial-gradient(125% 125% at 50% 10%, #000 40%, #63e 100%);
  z-index: -1;
  overflow: hidden;
}

.contentWrapper {
  position: relative;
  min-height: 100vh;
  overflow-y: auto;
}
