.container {
  width: 100%;
}

.educationContent {
  width: 50%;
}

.title {
  font-size: 3rem;
}
.collegeImage {
  width: 20rem;
}
.collegeDetails {
  padding-left: 2rem;
}
.courseTitle {
  font-size: 1.5rem;
}
